@main("Administrace", "menu-none") {

	<div id="login-panel" class="ui-panel">
		<form action=@{controllers.routes.Admin.authenticate()} id="loginForm" method="POST">
			<div class="input-section">
				<label for="username">Uživatelské jméno</label>
				<input type="text" id="username" class="validate[required]" name="username">
			</div>
			
			<div class="input-section">
				<label for="password">Heslo</label>
				<input type="password" id="password" class="validate[required]" name="password">
			</div>
			
			<button id="login" type="submit">Login</button>
			<script type="text/javascript">$('#login').button();</script>
		</form>
	</div>
	
	@if(flash.get("error")) {
        <div class="error">
            @flash.get("error")
        </div>
    }
	
	<script src="@routes.Assets.at("javascripts/jquery.validationEngine-cz.js")" type="text/javascript" charset="utf-8"></script>
	<script src="@routes.Assets.at("javascripts/jquery.validationEngine.js")" type="text/javascript" charset="utf-8"></script>
	
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/validationEngine.jquery.css")">
	
	<script>
		jQuery(document).ready(function(){
			// binds form submission and fields to the validation engine
			jQuery("#loginForm").validationEngine();
		});
	</script>

}