@main("Administrace") {
	<div id="login-panel">
		<form action=@{controllers.routes.Admin.login()} method="POST">
			<div class="input-section">
				<label for="username">Uživatelské jméno</label>
				<input type="text" id="username" name="username">
			</div>
			
			<div class="input-section">
				<label for="password">Heslo</label>
				<input type="password" id="password" name="password">
			</div>
			
			<button id="login" type="submit">Login</button>
			<script type="text/javascript">$('#login').button();</script>
		</form>
	</div>
}