@(title : String = "", menuType: String = "menu-main")(content : Html)

<!DOCTYPE html>

<html>
    <head>
    	@if(title.size != 0) { 
        	<title>Demagog.cz - @title</title>
        } else {
        	<title>Demagog.cz</title>
        }
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.selectbox-0.2.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.2.custom.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.selectbox.css")">
    </head>
    <body>
    	<div id="body">
    	    <div id="header">
    	    @if(UserAuthenticator.isUserLoggedIn()) {
    	    	<a href="@{controllers.routes.Admin.showNewlyAddedQuotes()}">
    	        	<div id="logo-container"></div>
        		</a> 
    	    } else {
    	    	 <a href="@{controllers.routes.Application.showQuotes(models.QuotesListContent.APPROVED)}">
    	        	<div id="logo-container"></div>
        		</a> 
        	}    		
            </div>
            
           	@if(menuType.equals("menu-main")) {
           		@main_menu
       	    } else {
       	    	@if(menuType.equals("menu-admin")) {
   	        		@admin_menu
   	        	}
            }
            
    		<div id="content">    		    
				@content
			</div>
			
			<div id="logo-restart">
				Realizace projektu byla podpořena programem ReStart Česko – 3. cena<br>
				<a href="http://www.restartcesko.cz/" title="ReStart Česko" target="_blank">
					<img width="400" alt="ReStart Česko" src="/assets/images/logo_restart.jpg" />
				</a>
			</div>
		</div>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '@play.Play.application().configuration().getString("demagog.analytics.key")']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>		
    </body>
</html>

@main_menu = {
	<div id="navigation">
    	<ul>
    		<li><a href="@{controllers.routes.Application.submitQuote()}">Chci ověřit výrok</a></li>
    	    <li><a href="@{controllers.routes.Application.showQuotes(models.QuotesListContent.APPROVED)}">Hlasování</a></li>
    	    <li><a href="@{controllers.routes.Application.showQuotes(models.QuotesListContent.CHECKED)}">Ověřené citáty</a></li>
    	</ul>
	</div>
}

@admin_menu = {
	<div id="navigation">
    	<ul>
			<li><a href="@{controllers.routes.Admin.showNewlyAddedQuotes()}">Nově přidané</a></li>
			<li><a href="@{controllers.routes.Admin.showApprovedQuotes()}">V hlasování</a></li>
			<li><a href="@{controllers.routes.Admin.showQuotesInAnalysis()}">Probíhá analýza</a></li>
			<li><a href="@{controllers.routes.Admin.showPublishedQuotes()}">Publikované</a></li>
			<li><a href="@{controllers.routes.Admin.logout()}">Odhlásit se</a></li>
    	</ul>
	</div>
}
