@(quotes: List[Quote], admin: Boolean, fullEditable: Boolean = false, content: models.QuotesListContent, menuItems : List[utils.MenuUtils.IMenuItem], filterAuthorNames: List[String], selectedFilterAuthorName: String, allreadyVoted: List[String])

@import models.Quote.QuoteState
@import org.apache.commons.lang3.StringUtils
@import tags._

@main("", menuItems) {
    @if(!admin && quotes.size() > 0) {
    	<div id="invitation" class="ui-panel" style="display:none">
    		<div class="invitation-header ui-widget-header ui-corner-all">
    			<span class="invitation-title ui-dialog-title">Vítejte ve službě ověřto.demagog.cz</span>
    			<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" title="Permanentně zavřít">
					<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
					<span class="ui-button-text">Permanentně zavřít</span>
				</button>
    		</div>
    		<div class="invitation-content">
    			<p>Cílem této služby je umožňit uživatelům vkládat politické výroky z veřejných informačních zdrojů pomocí <em>formuláře</em> nebo pomocí <em>bookmarkletu</em>.
    			Uživatelé mohou hlasovat a vybrat si tak výroky, které jim připadají nejzajímavější a které by si přáli ověřit.
    			Tým demagog.cz postupně výroky s nejvíce hlasy analyzuje. Po ověření, zda je zvolený výrok pravdivý či nepravdivý, je pak publikován na serveru <a href="http://demagog.cz/" target="_blank">demagog.cz</a>.</p> 
    			<p>Pokud budete mít nějaký zajímavý nápad jak tuto službu vylepšit, můžete využít tlačítko <span>Váš názor</span>, které je umístěno na pravém okraji prohlížeče.
    			Neváhejte nás kontaktovat ani v případě, že objevíte v aplikaci chybu. Co nejdříve ji opravíme a určitě to ocení i ostatní uživatelé.</p>
    			<p class="last">Nenechte si od politiků lhát! Váš demagog.cz</p>
    		</div>
    	</div>
		<div class="filter-container">
			<form id="filterByAuthor" action="@{controllers.routes.Application.showQuotes(content)}" method="POST">
				<label for="filterByAuthorSelect">Filtrovat podle autora:</label>
				<select id="filterByAuthorSelect" name="author" size="1" onchange="javascript:$('#filterByAuthor').submit(); void(0);"> 
					@for(authorName <- filterAuthorNames) {
						@if(selectedFilterAuthorName.equals(authorName)) {
							<option value="@{authorName}" selected>@{authorName}</option>
						} else {
							<option value="@{authorName}">@{authorName}</option>
						}
					}
				</select>
			</form>
		</div>
	}
	
	<div class="quotes-container">
	@for(quote <- quotes) {
		<div class="ui-panel quote">			
			@if(admin) {
				@quote_admin(quote, fullEditable)
			} else {
				<div class="text">
					&bdquo;@{quote.quoteText}&ldquo;
					<a href="@{controllers.routes.Application.showQuoteDetail(quote.id.toString())}" class="detail">Detail...</a>
				</div>
				@userForm(quote)
			}		
		</div>
	}
	<div id="rejectApproval" title="Smazat citát" style="display:none">Opravdu si přejete smazat tento citát?</div>
	</div>
	
	<script type="text/javascript">
		$(function () {
			$("#filterByAuthorSelect").selectbox();
		});
	</script>
	
	<script type="text/javascript">
		$(function() {
			// invitation
			
			var visited_cookie_name = "demagog_invitation_closed";
			var visited_cookie = $.cookie(visited_cookie_name);
			
			if (typeof visited_cookie == "undefined") {
				// the user was not here yet or didn't close the invitation, show it
				
				var $invitation = $("#invitation");
				
				setTimeout(function() {
					$invitation.slideDown();
				}, 400);

				$invitation.on("mouseover mouseout", "button", function(){
				    $(this).toggleClass("ui-state-hover");
				});
				$invitation.on("mousedown mouseup", "button", function(){
				    $(this).toggleClass("ui-state-active");
				});
				
				$invitation.find("button").click(function() {
					// close it
					$invitation.slideUp();
					
					// save the cookie about the user was here 
					// and has closed the invitation for e.g. 100 years?
					$.cookie(visited_cookie_name, "1", { expires: 36500 });
				});
			}
		});
	</script>

    <script type="text/javascript">
            function voteOnServer(quoteId) {

                /* disable clicking on voting button */
                var $form = $("#" + quoteId);
                var $formsUpVoteButton = $form.find(".upVoteButton");
                var $disabledUpVoteButton = $formsUpVoteButton.replaceWith('@Html(StringUtils.normalizeSpace(quoteAlreadyVotedImage().toString()))');

                var $quoteForm = $("#" + quoteId);
                var $authorFilter = $("#filterByAuthor select option:selected").val();

                $quoteForm.append('<input type="hidden" name="author" value="' + $authorFilter + '"/>');

                var upVoteAjaxUrl = '@{controllers.routes.Application.upVote(content)}';
                console.debug("Sending vote request for form", $quoteForm, " on ", upVoteAjaxUrl);
                jQuery.ajax(upVoteAjaxUrl, {
                    type : "POST",
                    data : $quoteForm.serialize(),
                    success : function(response, textStatus) {
                        console.log("up vote was successful");

                        console.debug("adding +1 to vote count number")
                        var $voteCounts = $form.find(".vote-count")
                        var voteCounts = parseInt($voteCounts.text(), 10 /* radix */);
                        voteCounts = voteCounts + 1
                        $voteCounts.text(voteCounts.toString(10));

                    },
                    error : function(jqXhr, textStatus, errorThrown) {
                        console.error("up vote failed with an error :", errorThrown)
                        $disabledUpVoteButton.replaceWith($formsUpVoteButton);
                    }
                });

            }
    </script>
    
    <script type="text/javascript">
	$(function() {
	    $("#rejectApproval").dialog({
	        autoOpen : false,
	        modal: true,
	        resizable: false,
	        draggable: false,
	        width: 360,
	        show: {
	            effect: "size",
	            duration: 300
	        },
	        hide:  {
	            effect: "size",
	            duration: 300
	        }
	     });
	});
</script>
}

@footer(quote: Quote) = {
	<table class="footer">
		<tbody>
			<tr>
	    		<td><label>Autor:</label></td>
	    		<td>
	    			@if(StringUtils.isBlank(quote.author)) {
						neznámý
					} else {
						@quote.author
					}
				</td>
	  		</tr>
	  		<tr>
	    		<td><label>Zdroj:</label></td>
	    		<td>
	    			<a href="@{quote.url}">@{StringUtils.abbreviate(quote.url, Quote.URL_VIEWABLE_SIZE_LIMIT)}</a>
				</td>
	  		</tr>
            @if(QuoteState.CHECKED_AND_PUBLISHED == quote.quoteState && StringUtils.isNotBlank(quote.demagogBacklinkUrl)) {
                <tr>
                    <td colspan="2">
                        <a href="@{quote.demagogBacklinkUrl}">Citát je ověřen na serveru demagog.cz</a>
                    </td>
                </tr>
            }
		</tbody>
	</table>	
}

@quoteAlreadyVotedImage() = {
    <img src="@routes.Assets.at("images/24x24/add_disabled.png")"
         title="Hlasování bylo ukončeno, nebo jste již hlasoval." />
}

@userForm(quote: Quote) = {
	<div class="actions">
		<form id="@{quote.id}" action="@{controllers.routes.Application.upVote(content)}" method="POST">
			<input type="hidden" name="id" value="@{quote.id}" />
			<span class="vote-count">@{quote.voteCount}</span>
			@if(QuoteState.APPROVED_FOR_VOTING == quote.quoteState && !allreadyVoted.contains(quote.id)) {
				<a class="imglink upVoteButton" href="javascript:voteOnServer('@{quote.id}');">
					<img src="@routes.Assets.at("images/24x24/add.png")" />
				</a>
			} else {
                @quoteAlreadyVotedImage()
			}
		</form>
	</div>
	@footer(quote)
}
