@(quote: Quote, allreadyVoted: List[String], menuItems : List[utils.MenuUtils.IMenuItem])

@import utils.LabelProvider
@import models.Quote.QuoteState
@import org.apache.commons.lang3.StringUtils

@main("", menuItems) {
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="ui-panel quote">
		<div class="text">
			&bdquo;@{quote.quoteText}&ldquo;
		</div>
		
		<div class="actions">
			<form id="@{quote.id}" action="@{controllers.routes.Application.upVote(models.QuotesListContent.APPROVED)}" method="POST">
				<input type="hidden" name="id" value="@{quote.id}" />
				<span class="vote-count">@{quote.voteCount}</span>
				
				@if(QuoteState.APPROVED_FOR_VOTING == quote.quoteState && !allreadyVoted.contains(quote.id)) {
					<a class="imglink" href="javascript:$('#@{quote.id}').submit(); void(0);">
						<img src="@routes.Assets.at("images/24x24/add.png")" />
					</a>
				} else {
					<img src="@routes.Assets.at("images/24x24/add_disabled.png")" title="Hlasování bylo ukončeno, nebo jste již hlasoval." />
				}
			</form>
		</div>
  		@if(QuoteState.CHECKED_AND_PUBLISHED == quote.quoteState && StringUtils.isNotBlank(quote.demagogBacklinkUrl)) {
			<a href="@{quote.demagogBacklinkUrl}" target="_blank">
		}
		<span class="state @{quote.quoteState.toString().toLowerCase()}" title="@{LabelProvider.getDescription(quote.quoteState)}">
			@{LabelProvider.getLabel(quote.quoteState)}
		</span>
  		@if(QuoteState.CHECKED_AND_PUBLISHED == quote.quoteState && StringUtils.isNotBlank(quote.demagogBacklinkUrl)) {
			</a>
		}
		
		<table class="footer">
			<tbody>
				<tr>
		    		<td><label>Autor:</label></td>
		    		<td>
		    			@if(StringUtils.isBlank(quote.author)) {
							neznámý
						} else {
							@quote.author
						}
					</td>
		  		</tr>
		  		<tr>
		    		<td><label>Zdroj:</label></td>
		    		<td>
		    			<a href="@{quote.url}">@{StringUtils.abbreviate(quote.url, Quote.URL_VIEWABLE_SIZE_LIMIT)}</a>
					</td>
		  		</tr>
			</tbody>
		</table>
		<div class="fb-like" data-href="@utils.Settings.getUrl("quote/" + quote.id.toString())" data-send="false" data-width="700" data-show-faces="false" data-action="recommend"></div>
	</div>
}
