@(quote: Quote, allreadyVoted: List[String])

@main("") {
	<div class="quote">
		<div class="text">
			&bdquo;@{quote.quoteText}&ldquo;
		</div>
		
		<div class="actions">
			<form id="@{quote.id}" action="@{controllers.routes.Application.upVote()}" method="POST">
				<input type="hidden" name="id" value="@{quote.id}" />
				<span class="vote-count">@{quote.voteCount}</span>
				@if(!allreadyVoted.contains(quote.id)) {
				<a href="javascript:$('#@{quote.id}').submit(); void(0);">
					<img src="@routes.Assets.at("images/24x24/add.png")" />
				</a>
				} else {
					<img src="@routes.Assets.at("images/24x24/add_disabled.png")" />
				}
			</form>
		</div>
		
		<div class="footer">
			<span class="author">Autor: @{quote.author}</span>
			<span class="url">Zdroj: <a href="@{quote.url}">@{quote.url}</a></span>
		</div>
	</div>
}
