@(quotes: List[Quote], admin: Boolean)(allreadyVoted: List[String])

@main("") {
	@if(admin) {
		@header
	}
	<div class="quotes-container">
	@for(quote <- quotes) {
		<div class="quote">			
			@if(admin) {
				@if(quote.quoteState == Quote.QuoteState.NEW) {
					@adminFormApproval(quote)
				} else {
					@adminFormChecking(quote)
				}
			} else {
				<div class="text">
					&bdquo;@{quote.quoteText}&ldquo;
					<a href="@{controllers.routes.Application.showQuoteDetail(quote.id.toString())}" class="detail">Detail...</a>
				</div>
				@userForm(quote)
			}		
		</div>
	}
	</div>
}

@header = {
	<div class="header">
		<a href="@{controllers.routes.Admin.showApproveQuotes()}" class="header_item">Nově přidané</a>
		<a href="@{controllers.routes.Admin.showCheckQuotes()}" class="header_item">V hlasování</a>
		<a href="@{controllers.routes.Admin.logout()}" class="header_logout">Odhlásit se</a>
	</div>
}

@footer(quote: Quote) = {
	<div class="footer">
		<span class="author">Autor: @{quote.author}</span>
		<span class="url">Zdroj: <a href="@{quote.url}">@{quote.url}</a></span>
	</div>	
}

@userForm(quote: Quote) = {
	<div class="actions">
		<form id="@{quote.id}" action="@{controllers.routes.Application.upVote()}" method="POST">
			<input type="hidden" name="id" value="@{quote.id}" />
			<span class="vote-count">@{quote.voteCount}</span>
			@if(!allreadyVoted.contains(quote.id)) {
			<a href="javascript:$('#@{quote.id}').submit(); void(0);">
				<img src="@routes.Assets.at("images/24x24/add.png")" />
			</a>
			} else {
				<img src="@routes.Assets.at("images/24x24/add_disabled.png")" />
			}
		</form>
	</div>
	@footer(quote)
}

@adminFormApproval(quote: Quote) = {
	<form id="approve_@{quote.id}" action="@{controllers.routes.Admin.approve()}" method="POST">
		<input type="hidden" name="id" value="@{quote.id}" />
		<textarea name="quoteText" class="admin_textarea">@{quote.quoteText}</textarea>
		<div class="actions">
			<a class="imglink" href="javascript:$('#approve_@{quote.id}').submit(); void(0);">
					<img src="@routes.Assets.at("images/24x24/accept.png")" />
			</a><a class="imglink" href="javascript:$('#reject_@{quote.id}').submit(); void(0);">
				<img src="@routes.Assets.at("images/24x24/delete.png")" />
			</a>			
		</div>
		<div class="footer">
			<span class="author">Autor: </span>
			<input name="author" type="text" value="@{quote.author}" />
			<span class="url">Zdroj: <a href="@{quote.url}">@{quote.url}</a></span>
		</div>
	</form>
	<form id="reject_@{quote.id}" action="@{controllers.routes.Admin.reject()}" method="POST">
		<input type="hidden" name="id" value="@{quote.id}" />		
	</form>
}

@adminFormChecking(quote: Quote) = {
	<div class="text">
		&bdquo;@{quote.quoteText}&ldquo;
	</div>
	<form id="check_@{quote.id}" action="@{controllers.routes.Admin.setChecked()}" method="POST">
		<input type="hidden" name="id" value="@{quote.id}" />
		<span class="vote-count">Votes: @{quote.voteCount}</span>
		<div class="actions">
			<a class="imglink" href="javascript:$('#check_@{quote.id}').submit(); void(0);">
				<img src="@routes.Assets.at("images/24x24/accept.png")" />
			</a>
		</div>
	</form>
	@footer(quote)
}
