@(quotes: List[Quote], admin: Boolean, content: models.QuotesListContent, filterAuthorNames: List[String], selectedFilterAuthorName: String, allreadyVoted: List[String])

@import models.Quote.QuoteState
@import org.apache.commons.lang3.StringUtils

@main("", utils.MenuUtils.getMenuType(admin)) {
    @if(!admin && quotes.size() > 0) {
		<div class="filter-container">
			<form id="filterByAuthor" action="@{controllers.routes.Application.showQuotes(content)}" method="POST">
				<label for="filterByAuthorSelect">Filtrovat podle autora:</label>
				<select id="filterByAuthorSelect" name="author" size="1" onchange="javascript:$('#filterByAuthor').submit(); void(0);"> 
					@for(authorName <- filterAuthorNames) {
						@if(selectedFilterAuthorName.equals(authorName)) {
							<option value="@{authorName}" selected>@{authorName}</option>
						} else {
							<option value="@{authorName}">@{authorName}</option>
						}
					}
				</select>
			</form>
		</div>
	}
	
	<div class="quotes-container">
	@for(quote <- quotes) {
		<div class="ui-panel quote">			
			@if(admin) {
				@if(quote.quoteState == Quote.QuoteState.APPROVED_FOR_VOTING) {
					@adminFormChecking(quote)
				} else {
					@adminFormApproval(quote)
				}
			} else {
				<div class="text">
					&bdquo;@{quote.quoteText}&ldquo;
					<a href="@{controllers.routes.Application.showQuoteDetail(quote.id.toString())}" class="detail">Detail...</a>
				</div>
				@userForm(quote)
			}		
		</div>
	}
	</div>
}

@footer(quote: Quote) = {
	<table class="footer">
		<tbody>
			<tr>
	    		<td><label>Autor:</label></td>
	    		<td>
	    			@if(quote.author == null) {
						"neznámý"
					} else {
						@quote.author
					}
				</td>
	  		</tr>
	  		<tr>
	    		<td><label>Zdroj:</label></td>
	    		<td>
	    			<a href="@{quote.url}">@{quote.url}</a>
				</td>
	  		</tr>
		</tbody>
	</table>	
}

@quoteAlreadyVotedImage() = {
    <img src="@routes.Assets.at("images/24x24/add_disabled.png")"
         title="Hlasování bylo ukončeno, nebo jste již hlasoval." />
}

@userForm(quote: Quote) = {
	<div class="actions">
		<form id="@{quote.id}" action="@{controllers.routes.Application.upVote(content)}" method="POST">
			<input type="hidden" name="id" value="@{quote.id}" />
			<span class="vote-count">@{quote.voteCount}</span>
			@if(QuoteState.APPROVED_FOR_VOTING == quote.quoteState && !allreadyVoted.contains(quote.id)) {
				<a class="upVoteButton" href="javascript:voteOnServer('@{quote.id}');">
					<img src="@routes.Assets.at("images/24x24/add.png")" />
				</a>
			} else {
                @quoteAlreadyVotedImage()
			}
		</form>
	</div>
	@footer(quote)
}

@adminFormApproval(quote: Quote) = {
	<form id="update_@{quote.id}" action="@{controllers.routes.Admin.updateQuote()}" method="POST">
		<input type="hidden" name="id" value="@{quote.id}" />
		<textarea name="quoteText" class="admin_textarea">@{quote.quoteText}</textarea>
		<div class="actions">
			<a class="imglink" title="Uložit" href="javascript:$('#update_@{quote.id}').submit(); void(0);">
				<img src="@routes.Assets.at("images/24x24/save.png")" />
			</a>
            <a class="imglink" title="Odstranit" href="javascript:$('#reject_@{quote.id}').submit(); void(0);">
				<img src="@routes.Assets.at("images/24x24/delete.png")" />
			</a>
		</div>
		<table class="approve">
			<colgroup>
    			<col class="labels" />
    			<col class="fields" />
  			</colgroup>
			<tbody>
				<tr>
			    	<td class="right"><label>Schválit citát k hlasování</label></td>
			    	<td>
			    		<input name="approved" type="checkbox" @(if(quote.quoteState == Quote.QuoteState.NEW) "" else "checked") />
	 				</td>
			  	</tr>
			  	<tr>
			    	<td class="right"><label>Citát je publikovaný na demagog.cz</label></td>
			    	<td>
			    		<input name="published" type="checkbox" @(if(quote.quoteState == Quote.QuoteState.CHECKED_AND_PUBLISHED) "checked" else "") />
	 				</td>
			  	</tr>
			  	<tr>
			    	<td class="right"><label>Autor</label></td>
			    	<td>
			    		<input name="author" type="text" value="@{quote.author}" />
	 				</td>
			  	</tr>
			  	<tr>
			    	<td class="right"><label>Zdroj</label></td>
			    	<td>
			    		<input name="url" type="text" size="80" value="@{quote.url}" />
			    		<a href="@{quote.url}" target="_blank">Otevřít</a>
	 				</td>
			  	</tr>
			  	<tr>
			    	<td class="right"><label>Zpětný odkaz na demagog.cz</label></td>
			    	<td>
			    		<input name="demagogBacklinkUrl" type="text" size="80" value="@{quote.demagogBacklinkUrl}" />
	 				</td>
			  	</tr>
			</tbody>
		</table>
	</form>
	<form id="reject_@{quote.id}" action="@{controllers.routes.Admin.reject()}" method="POST">
		<input type="hidden" name="id" value="@{quote.id}" />		
	</form>
}

@adminFormChecking(quote: Quote) = {
	<div class="text">
		&bdquo;@{quote.quoteText}&ldquo;
	</div>
	<form id="check_@{quote.id}" action="@{controllers.routes.Admin.setChecked()}" method="POST">
		<input type="hidden" name="id" value="@{quote.id}" />
		<span class="vote-count">Votes: @{quote.voteCount}</span>
		<div class="actions">
			<a class="imglink" href="javascript:$('#check_@{quote.id}').submit(); void(0);">
				<img src="@routes.Assets.at("images/24x24/accept.png")" />
			</a>
		</div>
	</form>
	@footer(quote)
}

<script type="text/javascript">
	function voteOnServer(quoteId) {

        /* disable clicking on voting button */
        var $form = $("#" + quoteId);
        var $formsUpVoteButton = $form.find(".upVoteButton");
        var $disabledUpVoteButton = $formsUpVoteButton.replaceWith('@Html(StringUtils.normalizeSpace(quoteAlreadyVotedImage().toString()))');

		var $quoteForm = $("#" + quoteId);
		var $authorFilter = $("#filterByAuthor select option:selected").val();
	
		$quoteForm.append('<input type="hidden" name="author" value="' + $authorFilter + '"/>');

        var upVoteAjaxUrl = '@{controllers.routes.Application.upVote(content)}';
        console.debug("Sending vote request for form", $quoteForm, " on ", upVoteAjaxUrl);
        jQuery.ajax(upVoteAjaxUrl, {
            type : "POST",
            data : $quoteForm.serialize(),
            success : function(response, textStatus) {
                console.log("up vote was successful");

                console.debug("adding +1 to vote count number")
                var $voteCounts = $form.find(".vote-count")
                var voteCounts = parseInt($voteCounts.text(), 10 /* radix */);
                voteCounts = voteCounts + 1
                $voteCounts.text(voteCounts.toString(10));

            },
            error : function(jqXhr, textStatus, errorThrown) {
                console.error("up vote failed with an error :", errorThrown)
                $disabledUpVoteButton.replaceWith($formsUpVoteButton);
            }
        });

	}
</script>

<script type="text/javascript">
	$(function () {
	    $("#filterByAuthorSelect").selectbox();
	});
</script>
