

@main("Nový citát") {

    <div id="page-tip">
        <a href="http://michal.bernhard.cz/bookmarklet-it/?url=https%3A%2F%2Fraw.github.com%2FRHoK-November-2012%2Fdemagog-cz%2Fmaster%2Fbookmarklet%2Fbookmarklet.js&name=ov%EC%F8it+v%FDrok+p%F8es+demagog.cz">Přidejte výrok rovnou z webu s naší speciální záložkou (bookmarkem) !</a>
    </div>

	<div id="new_quote">
		<form action="@{controllers.routes.Application.submitQuote()}" method="POST">
			<div class="input-section">
				<label for="quoteText">Citát: </label>
				<textarea name="quoteText" id="quoteText"></textarea>
			</div>
			
			<div class="input-section">
				<label for="url">Zdroj citátu: </label>
				<input type="text" name="url" />
			</div>	
			
			<div class="input-section">
				<label for="url">Autor citátu: </label>
				<input type="text" name="author" />
			</div>		
			
			<div id="buttons">
				<input type="submit" id="submit" value="Odeslat" />
			</div>
			
			<script type="text/javascript">$('#submit').button();</script>
		</form>
	</div>
}