body {
	font-family: Arial;
	background-color: #525252;
}

img {
	border: 0px;
}

#body {
	width: 800px;
	margin: 0 auto;
}	

#logo-container {	
	width: 100%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}


.quotes-container {
	margin: 0 auto;
	width: 100%;
}

.quote {
	background-color: #FFFFFF;
	border: 1px solid #555;
	padding: 0.5em;
	margin-bottom: 0.5em;
	position: relative;	
	border-radius: 5px;
}

.quote .footer {
	margin-top: 0.5em;
}

.author,
.url {
	font-size: smaller;
	color: #555;
}

.url {
	margin-left: 0.5em;
}

.quote .text {
	margin-right: 50px;
}

.quote .actions {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	height: 100%;
}

.vote-count {
	font-size: 22px;
	font-weight: bold;
	color: #555;
}

.quote .actions input[type="submit"]{
	width: 24px;
	height: 24px;
	background-image: url('../images/24x24/add.png');
}

.imglink {
	text-decoration: none;
}

#new_quote {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 0.5em;
}

#new_quote #quoteText {	
	width: 100%;
	height: 10em;
}

#new_quote .input-section input {
	width: 100%;
}

#new_quote .input-section {
	margin-bottom: 0.5em;
}

#new_quote label {
	font-weight: bold;
	color: #555;
}

#new_quote #buttons {
	text-align: right;
}