html {
    background: url("../images/background.jpg") repeat-x #9C9C9C;
}

body {
	font-family: Arial;
}

img {
	border: 0px;
}

#body {
	width: 900px;
	margin: 0 auto;
}

#header {
    height: 60px;
    margin-bottom: 20px;
}

#navigation {
    background: -moz-linear-gradient(center top , #F2F2ED 50%, #D1CFC4 50%) repeat scroll 0 0 transparent !important;
    border-bottom: 1px solid #BBBBBB;
    clear: both;
    height: 60px;
    padding: 0 !important;
    position: relative;
    top: 0;
}
#navigation ul {
    background: -moz-linear-gradient(center top , #AABD8E 50%, #9FB185 50%) repeat scroll 0 0 transparent !important;
    border: 1px solid #888888;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    left: -12px;
    margin: 0 0 10px;
    overflow: auto;
    padding: 0 !important;
    position: relative;
    top: 9px;
    width: 924px;
}
#navigation ul > li {
    background-color: transparent;
    display: block;
    float: left;
    padding: 0;
}
#navigation ul > li > a {
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid #C1D0AD;
    border-right: 1px solid #AAAAAA;
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    margin: 0 !important;
    padding: 10px 15px;
    text-decoration: none;
}
#navigation ul > li > a:hover {
    color: #000000 !important;
}
#navigation ul > li > a.selected {
    background: -moz-linear-gradient(center top , #C1D0AD 50%, #A8BA8F 50%) repeat scroll 0 0 transparent;
    color: #000000 !important;
    font-weight: normal;
}

#page-tip a {
    text-decoration: none;
    color: #FFFFFF; 
    margin-bottom: 20px;
    display: block;   
}	

#logo-container {	
	width: 100%;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}

.filter-container {
	margin: 15px auto;
	font-weight:bold;
	color: white; 
}

.quotes-container {
	margin: 0 auto;
	width: 100%;
}

.quote {
	background-color: #FFFFFF;
	border: 1px solid #555;
	padding: 0.5em;
	margin-bottom: 0.5em;
	position: relative;	
	border-radius: 5px;
}

.quote .footer {
	margin-top: 0.5em;
}

.author,
.url {
	font-size: smaller;
	color: #555;
}

.url {
	margin-left: 0.5em;
}

.quote .text {
	margin-right: 50px;
}

.quote .actions {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	height: 100%;
}

.vote-count {
	font-size: 22px;
	font-weight: bold;
	color: #555;
}

.quote .actions input[type="submit"]{
	width: 24px;
	height: 24px;
	background-image: url('../images/24x24/add.png');
}

.quote .fb-like {
	margin-top: 0.5em;
}

.imglink {
	text-decoration: none;
}

.admin_textarea {
	width: 90%;
	height: 100px;
}

.header {
	width: 100%;
	height: 30px;
	margin-bottom: 2px;
}

.header_item {
	float: left;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
}

.header_logout {
	float: right;
	text-decoration: none;
	color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	border-radius: 5px;
	padding: 5px;
}

#new_quote {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 0.5em;
}

#new_quote #quoteText {	
	width: 100%;
	height: 10em;
}

#new_quote .input-section input {
	width: 100%;
}

#new_quote .input-section {
	margin-bottom: 0.5em;
}

#new_quote label {
	font-weight: bold;
	color: #555;
}

#new_quote #buttons {
	text-align: right;
}

#login-panel {
	width: 300px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 0.5em;
}

#login-panel .input-section {
	margin-bottom: 0.5em;
}


#login-panel label {
	font-weight: bold;
	color: #555;
}

#login-panel input,
#login-panel button {
	width: 100%;
}