@***************************************************************
* In order to correctly show an approval dialog, the target page 
* must contain a dialog(div) with id = rejectApproval
*
***************************************************************@
@(quote : Quote, fullEditable : Boolean)

@import models.Quote.QuoteState
@import utils.LabelProvider
@import org.apache.commons.lang3.StringUtils

<form id="update_@{quote.id}" action="@{controllers.routes.Admin.updateQuote()}" class="approve" method="POST">
	<input type="hidden" name="id" value="@{quote.id}" />
	<input type="hidden" name="fullEditable" value="@{fullEditable}" />
	<textarea name="quoteText" class="admin_textarea">@{quote.quoteText}</textarea>
	<div class="actions">
		<a class="imglink" title="Uložit" href="javascript:$('#update_@{quote.id}').submit(); void(0);">
			<img src="@routes.Assets.at("images/24x24/save.png")" />
		</a>
           <a id="rejectLink_@{quote.id}" class="imglink" title="Odstranit" href="javascript:$('#reject_@{quote.id}').submit(); void(0);">
			<img src="@routes.Assets.at("images/24x24/delete.png")" />
		</a>
	</div>
   	<div class="author">
   		<label><span>Autor</span>
   			<input name="author" type="text" size="40" value="@{quote.author}" />
   		</label>
	</div>
   	<div class="sourceURL">
   		<label><span>Zdroj</span>
   			<input name="url" type="text" value="@{quote.url}" />
   			@if(StringUtils.isNotBlank(quote.url)) {
   				<a href="@{quote.url}" target="_blank">Otevřít</a>
   			}
   		</label>
	</div>
	@if(fullEditable || quote.quoteState == QuoteState.ANALYSIS_IN_PROGRESS || quote.quoteState == QuoteState.CHECKED_AND_PUBLISHED) {
	   	<div class="demagogURL">
	   		<label><span>Zpětný odkaz na demagog.cz</span>
	   			<input name="demagogBacklinkUrl" type="text" value="@{quote.demagogBacklinkUrl}" />
	   			@if(StringUtils.isNotBlank(quote.demagogBacklinkUrl)) {
	   				<a href="@{quote.demagogBacklinkUrl}" target="_blank">Otevřít</a>
	   			}
	   		</label>
		</div>
	}
	@if(quote.quoteState == QuoteState.APPROVED_FOR_VOTING && !fullEditable) {
		<p class="vote-count">Votes: @{quote.voteCount}</p>
	}
	<div class="boxes">
   		<label><span>Schválit citát k hlasování</span>
   			<input name="approved" type="checkbox" @(if(quote.quoteState == QuoteState.NEW) "" else "checked") />
   		</label>
   		@if(fullEditable || quote.quoteState != QuoteState.NEW) {
	   		<label><span>Zařadit k analýze</span>
	   			<input name="analyze" type="checkbox" 
	   				@(if(quote.quoteState == QuoteState.NEW 
	   					|| quote.quoteState == QuoteState.APPROVED_FOR_VOTING) "" else "checked") />
	   		</label>
   		}
   		@if(fullEditable || quote.quoteState == QuoteState.ANALYSIS_IN_PROGRESS || quote.quoteState == QuoteState.CHECKED_AND_PUBLISHED) {
   			<label><span>Citát je publikovaný na demagog.cz</span>
   				<input name="published" type="checkbox" @(if(quote.quoteState == QuoteState.CHECKED_AND_PUBLISHED) "checked") />
   			</label>
   		}
	</div>
</form>
<form id="reject_@{quote.id}" action="@{controllers.routes.Admin.reject()}" method="POST">
	<input type="hidden" name="id" value="@{quote.id}" />
	<input type="hidden" name="fullEditable" value="@{fullEditable}" />		
</form>

<script type="text/javascript">
	$(function() {
		$("#rejectLink_@{quote.id}").click(function(e) {
			e.preventDefault();
			
			$("#rejectApproval").dialog("option", "buttons", {
				"Ano" : function() {
					$("#reject_@{quote.id}").submit();
				},
				"Ne" : function() {
					$(this).dialog("close");
				}
			});
			$("#rejectApproval").dialog("open");
		});
	});
</script>
